ion-content.background{
  --background: url(../../assets/black.jpg) 0 0/100% 100% no-repeat;
}
ion-card{
}

.parag {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #000000;
}

