


<ion-content adding class="background">
  <ion-img style="position: relative;top: 60px;" src="/assets/shapes.png"></ion-img>




      <div  style="position:relative; top: 100px">
        <ion-button  color="dark" style="position: relative;left:19%;"  (click)="Login()">
          <div [ngStyle]="{color:'yellow'}">Login</div>
        </ion-button>
        <ion-button  color="dark" style="position: relative;left:26%;"  (click)="Register()">
          <div [ngStyle]="{color:'yellow'}">Register</div>

        </ion-button>
      </div>
</ion-content>

