ion-content.background{
  --background: url(../../assets/black.jpg) 0 0/100% 100% no-repeat;
}
.parag {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 4px;
}
.h2style{
  font-weight: 500;
  opacity: .75;
}
.user-photo  {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}

